.container-fluid {
    padding: 0px;
}
/* Header */
.header {
    height: 100vh;
    position: relative;
    text-align: right;
}
.img-responsive {
    height: 100%;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, 100%);
    color: white;
    opacity: 0.5;
    font-size: 120px;
    font-weight: bold;
}
h1:hover {
    opacity: 0.75;
}
/* Filter Button */
.btn-group {
    float: right;
    padding: 40px;
    margin: 40px;
    margin-bottom: 0px;
}
/* Photo Gallery */
.body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
}
.gallery {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    margin: 40px;
    padding: 40px;
}
.gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.gallery img {
    border-radius: 4px;
}
.baguetteBox-button {
    background-color: transparent !important;
}